{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
              <form method="POST" action="{% url 'location_modify' %}">
             {% csrf_token %}
              <h5 class="form-signin-heading text-center text-success">{{payment_method.method_name}}</h5>
                    <br />
              <input type="hidden" class="form-control" name="id" value="{{payment_method.id}}" />
              <input type="text" class="form-control" id="description_input" name="description"  value="{{payment_method.method_name}}" style="margin-top:10px"/>
              <input type="text" class="form-control" id="credit_limit_input" name="credit_limit"  value="{{payment_method.credit_limit}}" style="margin-top:10px"/>
              <select class="form-control" id="status_input" name="status" style="margin-top:10px">
                  {% if payment_method.status == 1 %}
                  <option selected="selected">Active</option>
                  <option>Inactive</option>
                  {% else %}
                  <option>Active</option>
                  <option selected="selected">Inactive</option>
                  {% endif %}
              </select>
              <button class="btn btn-lg btn-warning btn-block text-primary" type="submit"  style="margin-top:10px">Save Changes</button>
              <a href="" class="btn btn-lg btn-danger btn-block text-warning" type="submit"  style="margin-top:10px">Delete</a>
            </form>

        </div>

    </div>

</div>

{% endblock %}