{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
              <form method="POST" action="{% url 'paymentmethodsetup' %}">
             {% csrf_token %}
              <h5 class="form-signin-heading text-center text-success">Payment Method</h5>
                    <br />
              <input type="text" class="form-control" id="description_input" name="description"  required="" style="margin-top:10px"/>
              <input type="text" class="form-control" id="credit_limit_input" name="credit_limit"  placeholder="Credit Limit" required="" style="margin-top:10px"/>
              <select class="form-control" id="status_input" name="status" style="margin-top:10px">
                  <option>Active</option>
                  <option>Inactive</option>
              </select>





              <button class="btn btn-lg btn-warning btn-block text-primary" type="submit" value="Add" style="margin-top:10px">Add</button>
            </form>

        </div>

    </div>

</div>

{% endblock %}