{% extends 'base.html' %}

{% block content %}

<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
              <form method="POST" action="{% url 'paymentmethodsetup' %}">
             {% csrf_token %}
              <h5 class="form-signin-heading text-center text-success">Payment Method</h5>
                    <br />
              <input type="text" class="form-control" id="description_input" name="description"  required="" style="margin-top:10px"/>
              <input type="text" class="form-control" id="credit_limit_input" name="credit_limit"  placeholder="Credit Limit" required="" style="margin-top:10px"/>


              <input type="text" class="form-control" id="color" name="color"  placeholder="Choose a preference color below for this card"  style="margin-top:10px"/>
              <br />
              <input type="text" id="color_picker" style="with:200px" />
              <script>
               $("#color_picker").spectrum({
                color: "#f00"});
            </script>

              <select class="form-control" id="status_input" name="status" style="margin-top:10px">
                  <option>Active</option>
                  <option>Inactive</option>
              </select>





              <button class="btn btn-lg btn-warning btn-block text-primary" type="submit" value="Add" style="margin-top:10px">Add</button>
            </form>

        </div>

    </div>

</div>
<script>
    $("#color_picker").spectrum({
        change: function(color){
           $("#color").val(color.toHexString());
        }
    });
</script>
{% endblock %}

