{% extends 'base.html' %}

{% block content %}
{% if error %}
    {{ error }}
{% endif %}
<br>

<div class="container text-center mt-5">

    <h2>Your Cards</h2>
    <div class="row mt-4">
        <div class="col-2">
            <a href="{% url 'paymentmethodsetup_page' %}" class="btn btn-primary" role="button">Add New Card</a>
        </div>
        {% for pm in payment_methods.all %}
        <div class="col-2">
            {% if pm.status == 1%}
                <a class="btn btn-outline-success " href="{% url 'paymentmethodmodify_page' pm.id %}">{{pm.method_name}}</a>
            {% else%}
                <a class="btn btn-secondary " href="{% url 'paymentmethodmodify_page' pm.id %}">{{pm.method_name}}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <h2 class="mt-4">Your Places</h2>
    <div class="row mt-4">
        <div class="col-2">
            <a href="{% url 'location_setup_page' %}" class="btn btn-primary" role="button">Add New Place</a>
        </div>
        {% for location in locations.all %}
        <div class="col-2">
            {% if location.status == 1%}
                <a class="btn btn-outline-success " href="{% url 'location_modify_page' location.id %}">{{location.name}}</a>
            {% else%}
                <a class="btn btn-secondary " href="{% url 'location_modify_page' location.id %}">{{location.name}}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <h2 class="mt-4">Your Types</h2>
    <div class="row mt-4">
        <div class="col-2">
            <a href="{% url 'transaction_type_setup_page' %}" class="btn btn-primary" role="button">Add New Type</a>
        </div>
        {% for type in types.all %}
        <div class="col-2">
            {% if type.status == 1%}
                <a class="btn btn-outline-success " href="{% url 'transaction_type_modify_page' type.id %}">{{type.name}}</a>
            {% else%}
                <a class="btn btn-secondary " href="{% url 'transaction_type_modify_page' type.id %}">{{type.name}}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<!--<script>-->
    <!--$(document).ready(function(){-->
    <!--console.log( $("#pm_list").val());-->
    <!--$("#pm_list").click(function(){-->
        <!--if($("#pm_list").val() !=0){-->
            <!--$("#description_input").val("{{p}}");-->
        <!--}-->
    <!--});-->

<!--});-->


<!--</script>-->
</div>




{% endblock %}