{% extends 'base.html' %}

{% block content %}
{% if error %}
    {{ error }}
{% endif %}
<br>

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-4">

             <select id="pm_list" class="form-control" name="payment_method_name"  style="margin-top:10px">
                 <option value="0">select from ...</option>
                {% for paymentmethod in payment_methods.all%}
                    <option value="{{paymentmethod.id}}">{{paymentmethod.method_name}}</option>
                {% endfor %}
             </select>
            <br>
            <h4>Create New Payment Method or Modify Existing ones.</h4>

        </div>


        <div class="col-8">
              <form method="POST" action="{% url 'paymentmethodsetup' %}">
             {% csrf_token %}
              <h5 class="form-signin-heading text-center text-success">Payment Method</h5>
                    <br />
              <input type="text" class="form-control" id="description_input" name="description"  required="" style="margin-top:10px"/>
              <input type="text" class="form-control" id="credit_limit_input" name="credit_limit"  placeholder="Credit Limit" required="" style="margin-top:10px"/>
              <select class="form-control" id="status_input" name="status" style="margin-top:10px">
                  <option>Active</option>
                  <option>Inactive</option>
              </select>





              <button class="btn btn-lg btn-warning btn-block text-primary" type="submit" value="Add" style="margin-top:10px">Add</button>
            </form>

          </div>
    </div>
<script>
    $(document).ready(function(){
    console.log( $("#pm_list").val());
    $("#pm_list").click(function(){
        if($("#pm_list").val() !=0){
            $("#description_input").val("{{p}}");
        }
    });

});


</script>
</div>




{% endblock %}